.public_header{
    position: relative;
    height: 198px;
    width: 100%;
    /*background: #0c80d2;*/
}
.public_header_top{
    position: relative;
    width: 100%;
    height: 26px;
    background: #949494;
}
.public_header_top_bar{
    position: relative;
    height: 26px;
    width: 994px;
    margin: 0 auto;
    background: #949494;
}
.public_header_top_bar ul{
    position: absolute;
    right: 0px;
    width: 543px;
}
.public_header_top_bar li{
    height: 26px;
    float: left;
    line-height: 26px;
    font-size: 14px;
    padding-right: 14px;
}
/*更多样式*/
#li_more{
   cursor: pointer;
    color: #ff1211;
}
 .public_header_more{
     background: #0c80d2;
     z-index:6;
     display: none;
     position: absolute;
     right: -10px;
     top: 26px;
}
.public_header_more ul{
    width: 75px;
    height: 128px;
    background: #949494;
    z-index: 10;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
}
.public_header_more li{
    position: relative;
    float: left;
    line-height: 23px;
    z-index: 10;
}
.public_header_more li a{
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding-left: 5px;
}
#public_header_more a:hover{
    color: #fff;
    background: #6e529f;
    display: inline-block;
    width: 75px;
    text-align: center;
    padding: 0;
}

.top_bar_last_li{
    padding-right: 0;
}
.public_header_top_bar li:last-child{
    padding-right: 0px;
}
.public_header_top_bar  a{
    color: #fff;
}
.public_header_top_bar li a:hover{
    text-decoration: none;
    color: #6e529f;
}
.public_header_top_bar li a:active{
    color: #ff1211;
}
.public_header_top_box{
    position: relative;
    width: 994px;
    height: 127px;
    margin: 0 auto;
    /*background: #222223;*/
}
.spark_logo{
    position: relative;
    width: 423px;
    height: 84px;
    background: url("../../images/spark_logo.png");
    left: 0;
    top: 6px;
}
.public_top_search{
    position: absolute;
    width: 405px;
    height: 38px;
    background: url("../../images/public_search.jpg");
    right: 0;
    top:38px;
    z-index: -1;
}
.public_top_search input{
    width: 352px;
    height: 37px;
    outline: none;
    border: 1px solid #e3e3e3;
    text-indent: 7px;
}
.public_top_search p{
    padding-top: 12px;
    font-size: 14px;
    color: #a0a0a0;
    padding-left: 6px;
 }
.select_itme{
    position: absolute;
    height: 27px;
    background: url("../../images/group_pic.jpg")no-repeat;
    bottom: 0;
}
.select_school{
    height: 27px;
    background: url("../../images/group_pic.jpg")repeat-x 0 -27px;
}
 .select_lable{
    height: 27px;
    background: url("../../images/group_pic.jpg")no-repeat right -54px;
}
 .select_lable span{
     padding-left: 10px;
 }
.select_lable select{
    background: none;
    outline: none;
    height: 27px;border: none;
}
.public_header_bottom_bar{
    position: relative;
    width: 100%;
    height: 45px;
    background: #6e529f;
    bottom: 0;
}
.bottom_bar_list{
    position: relative;
    width: 994px;
    margin: 0 auto;
}
.bottom_bar_list ul{
    /*padding-left: 16px;*/

}
.bottom_bar_list li{
    float: left;
    line-height: 45px;
    font-weight: bold;
}
.bottom_bar_list a{
    font-size: 18px;
    color: #fefeff;
}
.bottom_bar_list a:hover{
    color: #ff1211;
    text-decoration: none;
}
.bottom_bar_list a:active{ color: #1fff23;}

.second_li {
    position: relative;
    width: 95px;
    text-align: center;
    margin-top: 2px;
}
.hover_list{
    position: absolute;
    width: 95px;
    z-index: 3;
    top: 40px;
    background-color: white;
    display: none;
}
.course_list_one{
    border-top: 1px solid #e3e3e3;
}
.head-title{
    line-height: 37px;
}
.active .hover_list,.second_li:hover .hover_list{
    display: block;
}
.active .head-title ,.second_li:hover .head-title{
    border-top-left-radius: 8px 10px;
    border-top-right-radius: 8px 10px;
    background-color: white;
    color: #6e529f;
    display: inline-table;
    padding: 0 12px;
}
.course_list_one{
    font-size: 18px;
    color: #fefeff;
}
.second_li li{
    width: 95px;
    text-align: center;
}
.course_list a{
    font-size: 16px;
    color: #828081;
    font-weight: normal;
}
.course_list li{
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid  #ededed;
}
.course_list a{
    color: #828081;
    font-size: 16px;
}
.course_list a:hover{
    text-decoration: none;
    background: #a596bd;
    width: 95px;
    display: inline-block;
}
.first_li{
    padding-right: 23px;
}
.third_li,.fifth_li{
    padding: 0 20px;
}
.seventh_li{
    padding: 0 30px 0 45px;
}

.ninth_li{
    width: 155px;
    height: 57px;
    background: url("../../images/online_read_btn.png")no-repeat;
    position: absolute;
    right: 0px;
    top: -7px;
    z-index: 3;
}
.ninth_li a {
    margin-left: 10px;
    line-height: 57px;
}



.eighth_li{
    position: relative;
    width: 100px;
}
.eighth_li_hover ul{
    width: 100px;
}
.eighth_li_hover li{
    height: 38px;
    line-height: 33px;
    border-bottom: 1px solid  #ededed;
    padding: 0 12px;
    /*width: 100px;*/
}
.active{
    padding: 0 12px;
    /*display: none;*/
}
.eighth_li_act:hover {
    border-top-left-radius: 8px 10px;
    border-top-right-radius: 8px 10px;
    background-color: white;
    color: #6e529f;
    display: inline-table;
    padding: 0 12px;
}
.eighth_li_hover{
    position: absolute;
    width: 100px;
    background: #fff;
    z-index: 5;
    display: none;
}

.eighth_li_hover a{
    color: #828081;
    font-size: 16px;
    font-weight: normal;
}
.active .eighth_li_hover a:hover{
    font-weight: bold;
}
.eighth_li:hover> .eighth_li_hover,.eighth_li_act{
    display: block;
}
.active .eighth_li_hover:hover ,.eighth_li .eighth_li_act {
    display: inline-table;
}
.eighth_li_hover:hover,.eighth_li_act .eighth_li{
    display: block;
}



