<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>教育培训网站</title>
    <link rel="stylesheet" href="../style/css/contain.css">
    <link rel="stylesheet" href="../style/css/base.css">
    <link rel="stylesheet" href="../style/css/common.css">
</head>
<body>
    <header class="public_header">
        <div class="public_header_top">
            <div class="public_header_top_bar">
                <ul>
                    <li><a href="">星火官方微信</a></li>
                    <li><a href="">星火官方微博</a></li>
                    <li><a href="">校区地址查询</a></li>
                    <li class="top_bar_last_li"><a href="">免费咨询热线：400-111-450</a></li>
                    <li id="li_more" onclick="show()">更多>></li>
                    <div class="public_header_more" id="public_header_more">
                        <ul>
                            <li><a href="">更多内容</a></li>
                            <li><a href="">更多内容</a></li>
                            <li><a href="">更多内容</a></li>
                            <li><a href="">更多内容</a></li>
                            <li><a href="">更多内容</a></li>
                        </ul>
                    </div>

                </ul>
            </div>
            <div class="public_header_top_box">
                 <div class="spark_logo_itm">
                     <div class="spark_logo"></div>
                     <div class="public_top_search">
                         <input type="text" value="" placeholder="请输入...">
                         <p>热门搜索：在线报读   星火课堂视频</p>
                     </div>
                 </div>
                <div class="select_itme">
                    <div class="select_school">
                        <div class="select_lable">
                            <form action="">
                                <select class="select_one" id="city" onchange="oCity()">
                                    <option value ="-1">请选择城市</option>
                                    <option value ="0">花溪区</option>
                                    <option value="1">云岩区</option>
                                    <option value="2">南明区</option>
                                    <option value="3">观山湖区</option>
                                </select>
                                <!--<span>选择学校</span>-->
                                <select name="" id="school">

                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="public_header_bottom_bar">
                <div class="bottom_bar_list">
                    <ul> 　                      　　
                        <li  class="first_li"><a href="">小学课程</a></li>
                        <li class="second_li">
                            <a href="" class="head-title">初中课程</a>
                            <div class="hover_list ">
                                <ul class="course_list">
                                    <li class="course_list_one"><a href="">中考课程</a></li>
                                    <li><a href="">初二生地</a></li>
                                    <li><a href="">初一课程</a></li>
                                    <li><a href="">初二课程</a></li>
                                    <li><a href="">初三课程</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="third_li"><a href="">高中课程</a></li>
                        <li class="forth_li"><a href="">星火老师</a></li>
                        <li class="fifth_li"><a href="">学员通道</a></li>
                        <li class="sixth_li"><a href="">学习互动</a></li>
                        <li class="seventh_li"><a href="">关于星火</a></li>
                        <li class="eighth_li">
                            <a class=" eighth_li_act" href="">星火官网</a>
                           <div class="eighth_li_hover">
                               <ul class="eighth_ul_li ">
                                   <li><a href="">星火老师</a></li>
                                   <li><a href="">是大法官</a></li>
                                   <li><a href="">星火老师</a></li>
                                   <li><a href="">裤脱看个</a></li>
                               </ul>
                           </div>
                        </li>
                        <li class="ninth_li"><a href="">在线报读有优惠</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
<div class="content">
   <div class="content_one">
       <div class="content_one_itm">
           <div class="content_one_itm_left">
               <ul>
                   <li><a href=""><img src="../images/content_one_scroll_pic-1.jpg" height="351" width="605"/></a></li>
                   <li><a href=""><img src="../images/content_one_scroll_pic-2.jpg" height="351" width="605"/></a></li>
                   <li><a href=""><img src="../images/templatemo_image_03.jpg" height="190" width="380"/></a></li>
                   <li><a href=""><img src="../images/templatemo_image_05.jpg" height="190" width="380"/></a></li>
                   <li><a href=""><img src="../images/templatemo_image_06.jpg" height="190" width="380"/></a></li>
                   <li><a href=""><img src="../images/content_one_scroll_pic-1.jpg" height="351" width="605"/></a></li>
                   <li><a href=""><img src="../images/content_one_scroll_pic-2.jpg" height="351" width="605"/></a></li>
               </ul>
               <div class="page"></div>
           </div>
           <div class="new_title">
               <div class="left_border"></div>
               <h4>学位稀缺竞争激烈</h4>
               <p>三所民办中小学涨价4成</p>
           </div>
           <div class="content_one_itm_right">
                 <div class="itm_right_new">
                     <h3>学位稀缺竞争激烈 三所民办中小学涨价4成</h3>
                     <p>备考攻略 | 2014广东高考前夕如何武装备考心态如何武装备考心态</p>
                     <p>备考攻略 | 高考面临短期失忆！专家火速来支援</p>
                     <p>志愿录取 | 高考超重本100分 免费入读澳门科技大学</p>
                     <h3>学位稀缺竞争激烈 三所民办中小学涨价4成</h3>
                     <p>备考攻略 | 2014广东高考前夕如何武装备考心态如何武装备考心态</p>
                     <p>备考攻略 | 高考面临短期失忆！专家火速来支援</p>
                     <p>志愿录取 | 高考超重本100分 免费入读澳门科技大学</p>
                 </div>
                 <div class="right_itm">
                     <div class="user_password">
                         <input class="user_ipt" type="text" placeholder="用户名">
                         <input class="pd_ipt" type="text" placeholder="密码">
                     </div>
                  <div class="forget_register">
                      <h3><a class="login" href=""><span>登&nbsp;&nbsp;录</span></a></h3>
                      <a class="register" href="">注册</a><a class="register" href="">忘记密码</a>
                  </div>
                 </div>
           </div>
       </div>
   </div>
    <div class="content_two">
        <div class="content_two_item">
              <div class="content_two_item_left">
                  <ul>
                      <li><img src="../images/circle_list/circle_1.png" height="57" width="56"/>
                          <div class="introduce_itm"><h4>星火一对一</h4>
                          <a>三所民办中小学涨价4成学涨价4成学涨价4成学涨价4成学涨价4成</a></div></li>
                      <li><img src="../images/circle_list/circle_2.png" height="57" width="56"/><div class="introduce_itm"><h4>精品小班</h4>
                          <a>三所民办中小学涨价4成学涨价4成学涨价4成学涨价4成学涨价4成</a></div></li>
                      <li><img src="../images/circle_list/circle_3.png" height="57" width="56"/><div class="introduce_itm"><h4>中考承诺班</h4>
                          <a>三所民办中小学涨价4成学涨价4成学涨价4成学涨价4成学涨价4成</a></div></li>
                      <li><img src="../images/circle_list/circle_1.png" height="57" width="56"/><div class="introduce_itm"><h4>星学员</h4>
                          <a>三所民办中小学涨价4成学涨价4成学涨价4成学涨价4成学涨价4成</a></div></li>
                      <li><img src="../images/circle_list/circle_2.png" height="57" width="56"/><div class="introduce_itm"><h4>星课堂</h4>
                          <a>三所民办中小学涨价4成学涨价4成学涨价4成学涨价4成学涨价4成</a></div></li>
                      <li><img src="../images/circle_list/circle_3.png" height="57" width="56"/><div class="introduce_itm"><h4>星活动</h4>
                          <a>三所民办中小学涨价4成学涨价4成学涨价4成学涨价4成学涨价4成</a></div></li>
                  </ul>
              </div>
              <div class="content_two_item_right">
                  <div class="right_item_cont">
                      <h4>本期荣誉学员</h4>
                  </div>
              </div>
        </div>
    </div>
    <div class="content_three">

    </div>
</div>
</body>
<script type="text/javascript" src="../style/js/public_top_more.js"></script>
</html>